<h1 class="app-title">{{ data?.title }}</h1>

<div>
  <ul id="tabs-list" class="clearfix">
    <ng-container *ngFor="let page of data?.pages">
      <li [ngClass]="{ 'active': selectedTab === pageIdPrefix + page.id }">
        <a href="#" (click)="selectTab($event, pageIdPrefix + page.id)">{{ page.title }}</a>
      </li>
    </ng-container>
  </ul>
  <div id="tabs-content" (scroll)="scroll($event)">
    <div *ngFor="let page of data?.pages" [id]="pageIdPrefix + page.id" class="tab-component">
        <dynamic-page [data]="page"></dynamic-page>
    </div>
  </div>

  <div class="form-row app-actions">
      <button type="button" (click)="onSave()" class="btn btn-primary">Save</button>
      <button type="button" (click)="onCancel()" class="btn btn-secondary">Cancel</button>
    </div>
</div>

<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle" rejectButtonStyleClass="ui-button-secondary" width="425"></p-confirmDialog>

<div style="margin-top: 50px; padding: 25px; border: 1px solid #999; border-radius: 10px;">

  <h3 style="margin-bottom: 10px;">Set Value</h3>

  <div class="form-group" style="float: left; margin-right: 20px;">
    <label>Page</label>
    <select (change)="changePage($event.target.value)">
      <option value="">Select Page</option>
      <option *ngFor="let p of data?.pages" [value]="p.id">{{ p.id }}</option>
    </select>
  </div>

  <div class="form-group" style="float: left; margin-right: 20px;">
    <label>PM</label>
    <select (input)="changePm($event.target.value)">
      <option *ngFor="let c of componentsKeys" [value]="c">{{ c }}</option>
    </select>
  </div>
  
  <div *ngIf="!isForm" class="form-group" style="float: left; margin-right: 20px;">
    <label>Line</label>
    <select (input)="changeLine($event.target.value)">
      <option *ngFor="let c of getArray(lines); let i = index" [value]="i">{{ i + 1 }}</option>
    </select>
  </div>

  <div class="form-group" style="float: left; margin-right: 20px;">
    <label>Field</label>
    <select (input)="changeField($event.target.value)">
      <option *ngFor="let f of fieldsKeys" [value]="f">{{ f }}</option>
    </select>
  </div>

  <div class="form-group" style="float: left; margin-right: 20px;">
    <label>Value</label>
    <input #value [ngModel]="field.value" placeholder="Value" />
  </div>  

  <button (click)="setValue(value.value)">Set Value</button>

</div>