<h1 class="app-title">{{ data?.title }}</h1>

<div>
  <ul id="tabs-list" class="clearfix">
    <ng-container *ngFor="let page of data?.pages">
      <li [ngClass]="{ 'active': selectedTab === pageIdPrefix + page.id }">
        <a href="#" (click)="selectTab($event, pageIdPrefix + page.id)">{{ page.title }}</a>
      </li>
    </ng-container>
  </ul>
  <div id="tabs-content" (scroll)="scroll($event)">
    <div *ngFor="let page of data?.pages" [id]="pageIdPrefix + page.id" class="tab-component">
        <dynamic-page [data]="page"></dynamic-page>
    </div>
  </div>

  <div class="form-row app-actions">
      <button pButton type="button" (click)="onSave()" class="ui-button ui-button-text-only ui-button-primary" label="Save"></button>
      <button pButton type="button" (click)="onCancel()" class="ui-button ui-button-text-only ui-button-secondary" label="Cancel"></button>
    </div>
</div>

<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle" rejectButtonStyleClass="ui-button-secondary" width="425"></p-confirmDialog>



<div style="margin-top: 25px;">

  <div class="form-group" style="float: left; margin-right: 20px;">
    <label>Page</label>
    <select (change)="change($event.target.value)">
      <option *ngFor="let p of data?.pages" [value]="p.id">{{ p.id }}</option>
    </select>
  </div>

  <div class="form-group" style="float: left; margin-right: 20px;">
    <label>PM</label>
    <select (input)="changePm($event.target.value)">
      <option *ngFor="let c of componentsKeys" [value]="c">{{ c }}</option>
    </select>
  </div>

  <div class="form-group" style="float: left; margin-right: 20px;">
    <label>Field</label>
    <select (input)="changeField($event.target.value)">
      <option *ngFor="let f of fieldsKeys" [value]="f">{{ f }}</option>
    </select>
  </div>

  <input #value [ngModel]="field.value" />

  <button (click)="setValue(value.value)">Set Value</button>


</div>