<p-table #dt [value]="data" [columns]="grid.columns" [paginator]="true" [rows]="rowsInPage ? rowsInPage : 5" [rowsPerPageOptions]="[5,10,25]" [rowHover]="true"
         (onEditInit)="editInit($event)" (onEditComplete)="editComplete($event)" (onEditCancel)="editCancel($event)" [(selection)]="selectedRow" 
         (sortFunction)="customSort($event)" [customSort]="true">
    <ng-template pTemplate="caption">
        <div>
            <div class="clearfix">
                <button *ngIf="!addingNewRow" class="btn btn-info pull-left" (click)="addNew($event)">Add</button>
                <button *ngIf="addingNewRow" class="btn btn-info pull-left" (click)="saveNewRow($event)">Save new row</button>
                <button *ngIf="addingNewRow" class="btn btn-info pull-left" (click)="cancelNewRow($event)">Cancel new row</button>
            </div>
            <div style="text-align: right" class="clearfix">        
                <button class="btn btn-primary pull-left"  (click)="dt.exportCSV()">Export to CSV</button><!--type="button" pButton icon="fa-file-o" iconPos="left" label="Download CSV"-->                    
                
                <button *ngIf="selectedRow" class="btn btn-danger pull-left" (click)="delete($event)">Delete</button>    
                <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                <input id="table-filter" type="text" class="form-control" pInputText placeholder="Global Filter" (input)="dt.filterGlobal($event.target.value, 'contains')">        
            </div>        
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th style="width: 34px"></th>
            <th *ngFor="let col of grid.columns" [pSortableColumn]="col.id" [style.width]="col.width + '%'">
                {{ col.name }}
                <p-sortIcon [field]="col.field"></p-sortIcon>
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData>
        <tr [pSelectableRow]="rowData" [ngClass]="{ 'new-row': rowData['new-row'] }">
            <td>
                <p-tableRadioButton [value]="rowData"></p-tableRadioButton>
            </td>
            <td *ngFor="let col of grid.columns" [pEditableColumn]="rowData" [pEditableColumnField]="col.field" tabindex="-1" [ngClass]="{ 'invalid': rowData[col.id]?.invalid }"> 
                <div *ngIf="col.isEditable; then editable else static"></div>
                <ng-template #static>
                    <div *ngIf="col.type == 'buttons' && col.buttons && col.buttons.length > 0; then buttons else cellContent"></div>
                    <ng-template #buttons>
                        <button *ngFor="let btn of col.buttons" class="btn table-button" (click)="this[btn](rowData)">{{ btn }}</button>
                    </ng-template>
                    <ng-template #cellContent>
                        {{ rowData[col.id]?.value }}
                    </ng-template>
                </ng-template>
                <ng-template #editable>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input type="text" [(ngModel)]="rowData[col.id].value"><!-- [value]="rowData[col.id]?" -->
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{ rowData[col.id]?.value }}
                        </ng-template>
                    </p-cellEditor>
                </ng-template>
            </td>
        </tr>
    </ng-template>
</p-table>

<p-messages [(value)]="msgs"></p-messages>

<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle" width="425"></p-confirmDialog>
