<div [formGroup]="form" class="form-group" [hidden]="!question.visible">
	<label [attr.for]="question.key" class="center-block">{{question.label}}</label>

	<div [ngSwitch]="question.controlType">			
				
		<div *ngSwitchCase="'textbox'">
			<!-- Calendar of ngPrime -->
			<!-- <p-calendar *ngIf="question.type=='date'" [formControlName]="question.key" dateFormat="yy-mm-dd" monthNavigator="true" yearNavigator="true" 
			yearRange="1950:{{currYear}}" [id]="question.key" [appValidateOnBlur]="validateOnBlur" [readonlyInput]="question.readonly"></p-calendar>						

			<input *ngIf="!['date'].includes(question.type)" [formControlName]="question.key"
			[id]="question.key" [type]="question.type" class="form-control" 
			[appValidateOnBlur]="validateOnBlur" [attr.readonly]="question.readonly ? '' : null"> -->

			<input [formControlName]="question.key"
			[id]="question.key" [type]="question.type" class="form-control" 
			[attr.readonly]="question.readonly ? '' : null">
		</div>				

		<p-autoComplete *ngSwitchCase="'autocomplete'" [formControlName]="question.key" 
			[id]="question.key" [type]="question.type" [inputStyleClass]="'form-control'" emptyMessage="No results"
			[readonly]="question.readonly" [suggestions]="results" (completeMethod)="search($event)" field="value"></p-autoComplete>
		
		<p-dropdown *ngSwitchCase="'dropdown'" [options]="question.options" [id]="question.key" [formControlName]="question.key" optionLabel="value"></p-dropdown> <!--[disabled]="question.readonly"-->

	</div> 

	<div class="alert alert-danger" *ngIf="isInvalid">
		<div *ngIf="errors.required">
			{{question.label}} is required.
		</div>
		<div *ngIf="errors.minlength">
			{{question.label}} must be at least 4 characters long.
		</div>
		<div *ngIf="errors.serverError">
			{{errors.serverError.message}}
		</div>
		<div *ngIf="errors.email">
			Email not valid.
		</div>
	</div>
</div>
