.table-button {
  margin-left: 3px;
}

.row-button {
  color: #333;
}

#table-filter {
  width: 30%;
  display: inline-block;
}

p-table button {
  margin-bottom: 5px;
}

p-table button + button {
  margin-left: 10px;
}