<ngx-datatable 
  [ngClass]="grid.class" 
  [headerHeight]="grid.headerHeight" 
  [limit]="grid.limit"
  [columnMode]="grid.columnMode" 
  [footerHeight]="grid.footerHeight" 
  [rowHeight]="grid.rowHeight" 
  [reorderable]="grid.reorderable" 
  [scrollbarH]="grid.scrollbarH"
  [scrollbarV]="grid.scrollbarV"
  [rows]="data" 
  [messages]="{emptyMessage: 'אין נתונים להצגה', totalMessage: 'שורות'}">
  <!--[ngBusy]="{busy: loadingPlanItems, message: 'טוען נתונים...'}" -->
  <ngx-datatable-column *ngFor="let col of grid.columns" 
    [prop]="col.id" 
    [name]="col.name" 
    [sortable]="col.sortable" 
    [draggable]="col.draggable"
    [minWidth]="col.minWidth" 
    [maxWidth]="col.maxWidth" 
    [width]="col.width" 
    [headerClass]="col.headerClass" 
    [cellClass]="col.cellClass">
    <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
      <div style="width: 100%" (click)="cellClicked($event, col.prop, value, row)">
        {{value}}
      </div>
    </ng-template>
  </ngx-datatable-column>
</ngx-datatable>