<p-table #dt [value]="data.values" [columns]="data.headers" [paginator]="true" [rows]="rowsInPage ? rowsInPage : 5" [rowsPerPageOptions]="[5,10,25]" [rowHover]="true"
         (sortFunction)="customSort($event)" [customSort]="true">
    <ng-template pTemplate="caption">
        <div style="text-align: right">        
            <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
            <input type="text" pInputText placeholder="Global Filter" (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:50%">
            <button type="button" pButton icon="fa-file-o" iconPos="left" label="Download CSV" (click)="dt.exportCSV()" style="float:left"></button>
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th *ngFor="let col of data.headers" [pSortableColumn]="col.id" [style.width]="col.width + '%'" [pSortableColumnDisabled]="col.type === 'buttons'">
                {{ col.title }}
                <p-sortIcon [field]="col.id" *ngIf="col.type !== 'buttons'"></p-sortIcon>
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData>
        <tr>
            <td *ngFor="let col of data.headers"> 
                <div [ngSwitch]="col.type">
                    <div *ngSwitchCase="'buttons'">
                        <!-- {{rowData.buttons.length }} -->
                        <a href="javascript:;" *ngFor="let btn of rowData.buttons" class="row-button" (click)="this[btn](rowData)">
                            <i [ngClass]="'fa fa-' + btn" style="margin:4px 4px 0 0"></i>
                        </a>
                    </div>
                    <div *ngSwitchDefault>
                        {{ rowData[col.id].value }}    
                    </div>
                </div>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="summary" let-rowData>
        <div style="text-align: left;">
            <button type="button" pButton icon="fa fa-plus" (click)="addRow()" label="Add"></button>
        </div>
    </ng-template>
</p-table>

<p-dialog #dialog [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true" [width]="400" [draggable]="false" [resizable]="false" (onHide)="cancel($event)"><!--header="Car Details"-->
    
    <!-- <dynamic-form *ngIf="currObject.fields" [formKey]="'GRIDB'" [formParameters]="currObject.fields" (onSaved)="saveDynamic($event)" 
        cancelButton="ביטול" (onCancelled)="cancel()" [validateOnBlur]="true"></dynamic-form> -->
    
    <!-- <dynamic-form [formKey]="data.id" [data]="data.headers" (onSaved)="saveDynamic($event)" ></dynamic-form> -->

    <!-- dynamicly created form according to the grid columns -->
    <div class="ui-g ui-fluid" *ngIf="objFields">
        <div class="ui-g-12" *ngFor="let field of objFields">
            <div class="ui-g-4">
                <label [for]="field">{{field}}</label>
            </div>
            <div class="ui-g-8">
                <input pInputText class="form-control" [id]="currObject.fields[field]" [(ngModel)]="currObject.fields[field].value" />
            </div>
        </div>
    </div>
    <p-footer>
        <div class="ui-dialog-buttonpane ui-helper-clearfix">
            <button type="button" pButton icon="fa fa-check" (click)="save()" label="Save"></button>
        </div>
    </p-footer>

</p-dialog>

<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle" rejectButtonStyleClass="ui-button-secondary" width="425"></p-confirmDialog>
