<p-table #dt [value]="data" [columns]="grid.columns" [paginator]="true" [rows]="rowsInPage ? rowsInPage : 5" [rowsPerPageOptions]="[5,10,25]" [rowHover]="true"
         (onEditInit)="editInit($event)" (onEditComplete)="editComplete($event)" (onEditCancel)="editCancel($event)" [(selection)]="selectedRows" 
         (sortFunction)="customSort($event)" [customSort]="true">
    <ng-template pTemplate="caption">
        <div>
            <div class="clearfix">
                <button *ngIf="!addingNewRow" class="btn btn-info pull-left" (click)="addNew($event)">Add</button>
                <button *ngIf="addingNewRow" class="btn btn-info pull-left" (click)="saveNewRow($event)">Save new row</button>
                <button *ngIf="addingNewRow" class="btn btn-info pull-left" (click)="cancelNewRow($event)">Cancel new row</button>
            </div>
            <div style="text-align: right" class="clearfix">        
                <button class="btn btn-primary pull-left"  (click)="dt.exportCSV()">Export to CSV</button><!--type="button" pButton icon="fa-file-o" iconPos="left" label="Download CSV"-->                    
                
                <button *ngIf="selectedRows.length > 0" class="btn btn-danger pull-left" (click)="delete($event)">Delete</button>    
                <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                <input id="table-filter" type="text" class="form-control" pInputText placeholder="Global Filter" (input)="dt.filterGlobal($event.target.value, 'contains')">        
            </div>        
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th style="width: 34px"></th>
            <th *ngFor="let col of grid.columns" [pSortableColumn]="col.id" [style.width]="col.width + '%'">
                {{ col.name }}
                <p-sortIcon [field]="col.field"></p-sortIcon>
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData>
        <tr [pSelectableRow]="rowData" [ngClass]="{ 'new-row': rowData['new-row'] }">
            <td>
                <p-tableCheckbox *ngIf="!rowData['new-row']" [value]="rowData"></p-tableCheckbox>
            </td>
            <td *ngFor="let col of grid.columns" [pEditableColumn]="rowData" [pEditableColumnField]="col.field" tabindex="-1" 
                [ngClass]="{ 'invalid': rowData[col.id]?.invalid }"> 
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <!-- <ng-container [ngSwitch]="rowData[col.id].fieldType ? rowData[col.id].fieldType : ''"> -->
                        <ng-container [ngSwitch]="col.type ? col.type : ''">
                            <p-dropdown *ngSwitchCase="'select'" [options]="rowData[col.id].options" optionLabel="value" [(ngModel)]="rowData[col.id].value"></p-dropdown> <!--[disabled]="question.readonly"-->
                            <!-- <select *ngSwitchCase="'select'" [(ngModel)]="rowData[col.id].value">
                                <option *ngFor="let opt of rowData[col.id].options" [value]="opt">{{ opt }}</option>
                            </select> -->
                            <input *ngSwitchCase="'checkbox'" type="checkbox" style="width: auto;" [checked]="rowData[col.id].value" (change)="rowData[col.id].value = !rowData[col.id].value" >
                            <p-autoComplete *ngSwitchCase="'autocomplete'" [inputStyleClass]="'form-control'" emptyMessage="No results" 
                                            [suggestions]="results" (completeMethod)="autoCompleteChange($event)" field="value" [(ngModel)]="rowData[col.id].value"></p-autoComplete>
                            <input *ngSwitchDefault type="text" [(ngModel)]="rowData[col.id].value">
                        </ng-container>
                    </ng-template>
                    <ng-template pTemplate="output">
                        <!-- <ng-container [ngSwitch]="rowData[col.id].fieldType ? rowData[col.id].fieldType : ''"> -->
                        <ng-container [ngSwitch]="col.type ? col.type : ''">                            
                            <label *ngSwitchCase="'autocomplete'" class="editable-grid-label">{{ rowData[col.id]?.value.value }}</label>
                            <label *ngSwitchCase="'select'" class="editable-grid-label">{{ rowData[col.id]?.value.value || rowData[col.id]?.value }}</label>
                            <label *ngSwitchDefault class="editable-grid-label">{{ rowData[col.id]?.value }}</label>
                        </ng-container>
                    </ng-template>
                </p-cellEditor>
            </td>
        </tr>
    </ng-template>
</p-table>

<p-messages [(value)]="msgs"></p-messages>

<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle" width="425"></p-confirmDialog>
