<div>
  <h2>Demo of M-based dynamic Grids</h2>
  <div class="card" style="width: 30rem;">
      <div class="card-block">
        <h4 class="card-title">Basic grid</h4>
        <dynamic-grid [gridKey]="'A'" (onClicked)="onClicked($event)"></dynamic-grid>
      </div>
    </div>  
  <!-- <h2>Demo of M-based dynamic forms</h2>
  <div class="card" style="width: 30rem;">
    <div class="card-block">
      <h4 class="card-title">Form validation on changes</h4>
      <dynamic-form [formKey]="'A'" (onSaved)="onSaved('A', $event)" cancelButton="ביטול" (onCancelled)="onCancelled('A')"></dynamic-form>
    </div>
  </div>
  <div class="card" style="width: 30rem;">
    <div class="card-block">
      <h4 class="card-title">Form validation on blur</h4>
      <dynamic-form [formKey]="'C'" [validateOnBlur]="true" (onSaved)="onSaved('C', $event)"></dynamic-form>
    </div>
  </div>
  <div class="card" style="width: 30rem;">
    <div class="card-block">
      <h4 class="card-title">Other controls</h4>
      <dynamic-form [formKey]="'B'" [validateOnBlur]="true" [formParameters]="'test'" [saveButton]="null"></dynamic-form>
    </div>
  </div> -->
</div>
